.container {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.title {
  color: #222aef;
  font-size: 3.2rem;
  font-weight: 600;
}

.input {
  border-color: #222aef;
  height: 3rem;
  border-radius: 5px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.accountContainer {
  display: flex;
  justify-content: space-between;
}

.accountType {
  width: 48%;
  height: 6.4rem;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.influencer {
  background-color: #6f74e0;
  color: white;
}

.organisation {
  background-color: #d9d9d9;
}

.button {
  background-color: #222aef;
  color: white;
  border-color: #222aef;
  border-radius: 5px;
  height: 3rem;
  cursor: pointer;
}

.linkContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.linkText {
  color: #222aef;
  margin-left: 0.5rem;
}
