.container {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.title {
  color: #222aef;
  font-size: 3.2rem;
  font-weight: 500;
}

.input {
  border-color: #222aef;
  height: 3rem;
  border-radius: 5px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.button {
  background-color: #222aef;
  color: white;
  border-color: #222aef;
  border-radius: 5px;
  height: 3rem;
  cursor: pointer;
}

.linkContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.linkText {
  color: #222aef;
  margin-left: 0.5rem;
}

@media (max-width: 768px) {
  .heading {
    margin-top: 60px;
  }
  .content {
    margin-top: 20px;
  }
  .linkContainer {
    font-size: 1.5rem;
  }
}
